<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
     <category label="30001">
		<setting type="lsep" label="RPI 04 - MCP2515 VCC" />
		<setting type="lsep" label="RPI 25 - MCP2515 GND" />
		<setting type="lsep" label="RPI 24 - MCP2515 CS" />
		<setting type="lsep" label="RPI 21 - MCP2515 SO" />
		<setting type="lsep" label="RPI 19 - MCP2515 SI" />
		<setting type="lsep" label="RPI 23 - MCP2515 SCK" />
		<setting type="lsep" label="RPI 22 - MCP2515 INT" />
    </category>
	
     <category label="30002">
		<setting type="number" label="RNS-D KEY /\" default="KODI UP" />
		<setting type="number" label="RNS-D KEY \/" default="KODI DOWN" />
		<setting type="number" label="RNS-D KEY <" default="KODI LEFT" />
		<setting type="number" label="RNS-D KEY >" default="KODI RIGHT" />
		<setting type="number" label="RNS-D KEY AS" default="KODI OK" />
		<setting type="number" label="RNS-D KEY +ZOOM" default="KODI +10 MIN" />
		<setting type="number" label="RNS-D KEY -ZOOM" default="KODI -10 MIN" />
		<setting type="number" label="RNS-D KEY MODE" default="KODI CONTEXT MENU" />
		<setting type="number" label="RNS-D KEY RETURN" default="KODI BACK" />
		<setting type="number" label="RNS-D KEY RIGHT ENCODER PRESS" default="KODI OSD MENU" />
    </category> 
	 <category image="30003">
		<setting type="number" label="RNS-D KEY /\" default="KODI UP" />
		<setting  id = "image"  fanart="resources/fanart.jpg" />
	</category> 
</settings>